@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-height: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: "Roboto", sans-serif;
}

p {
  text-wrap: pretty;
}

/* .MuiToolbar-root {
  min-height: 30px !important;
}

.MuiBox-root {
  min-height: 30px !important;
} */

.css-19kzrtu {
  padding: 20px !important;
}
